<!DOCTYPE html>
<html>
  <head>
    <title>InterfaceDesignWeb</title>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%= stylesheet_link_tag  'application', media: 'all',
    'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Metatag for mobile applications -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

  </head>

  <body class="<%= controller_name %> <%= action_name %>" data-controller="<%= controller_name %>" data-action="<%= action_name %>">
  <!-- <nav class="navbar-inverse nav-upper"> -->
  <nav class="navbar navbar-inverse navbar-static-top navbar-custom nav-upper"
  role="navigation">
    <div class="container-fluid upper-nav-div">
    <!-- <div class="nav-upper"> -->
    <ul class="nav navbar-nav menu navbar-upper pull-right upper-nav-links upper-ul">
      <!-- locale code to change language was here -->
      <% if I18n.locale == I18n.default_locale %>
        <li><%= link_to 'English', url_for( :locale => 'en')  %></li>
      <% else %>
        <li><%= link_to 'Français', url_for( :locale => 'fr') %></li>
      <% end %>
      <!-- end of I18n language selection -->
      </ul>
      <!-- </div> -->
   </div>
  </nav>

  <nav class="navbar navbar-inverse navbar-custom transparent"
  role="navigation" id="new_comment">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <div class="project-name navbar-brand">
        <%= link_to root_path do %>
          <%= image_tag("Logo_Interface_design.png", size: "75x75",
          alt: "Edit Entry", class: "logoimg")%>
        <% end %>

        </div>
      </div>

      <div class="navbar-collapse collapse transparent <%= action_name == "index" ? 'ok' : 'notok' %>">
        <ul class="nav navbar-nav menu">
          <li><%= link_to t('about_page_title'), about_path %> </li>
          <li><%= link_to t('mywork_page_title'),  mywork_path %> </li>
          <li><%= link_to t('contact_page_title'),  contact_path %> </li>
          <li><%= link_to t('articles_page_title'),  about_path %> </li>
          <li><%= link_to t('promotion_page_title'),  promotion_path %> </li>

        </ul>

        </div>

    </div>
  </nav>


  <!-- Flash to display a notice to users or any alerts -->
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <div id="alert-area">
      <p class="alert alert-danger"><%= alert %></p>
    </div>
  <% end %>
  <!-- Display all partial pages -->
  <%= yield %>

  <footer>
  <div class="copyright">
    &copy; <%= t('copyright')%>
  </div>
  <div class="container-fluid footer-class anchor-footer" id="footer">
    <div class="row" id="footer-page">
      <div class="col-xs-12 col-sm-6 col-md-4">
      <!-- <div class="col-md-4 col-xs-8"> -->
        <h3><%= t('social_network')%></h3>
        <ul class="social-links">
          <li>
            <a href="http://linkedin.com/in/yves-loiseau-66980312" target="_blank">
              <%= image_tag("LinkedIn.png", size: "20x20",
               alt: "LinkedIn tag")%>
            </a></li>
          <li>
            <a href="https://twitter.com/interface_y" target="_blank">
              <%= image_tag("social-twitter_v1.png", size: "20x20",
               alt: "Twitter tag")%>
            </a></li>
          <li>
            <a href="https://www.facebook.com/InterfaceDesignweb"target="_blank">
              <%= image_tag("Facebook.png", size: "20x20",
               alt: "Facebook tag")%>
            </a></li>
          </ul>
      </div>
    </div>
  </div>
</footer>
  </body>
</html>
